/* Encabezado principal del catálogo de cursos */
.encabezadoCursos {
    background-color: #5b1f8c;
    color: #ffffff;
    text-align: center;
    padding: 70px 0;
}

.encabezadoCursos h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
}

.encabezadoCursos p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
}

/* Sección de búsqueda de cursos */
.busquedaCursos {
    padding: 40px 0;
}

.busquedaCursos input {
    width: 100%;
    padding: 12px;
    border: 1px solid #c8b6dc;
    border-radius: 5px;
}

/* Sección de categorías de cursos */
.categoriaCursos {
    padding-bottom: 50px;
}

.categoriaCursos h2 {
    color: #5b1f8c;
    margin-bottom: 25px;
}

/* Contenedor de las tarjetas */
.filaCursos {
    display: flex;
    
    gap: 20px;
    flex-wrap: wrap;
}


/* Tarjeta individual de cada curso */
.tarjetaCurso {
    background-color: #ffffff;
    border: 2px solid #c8b6dc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;

}

/* Imagen del curso */
.tarjetaCurso img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

/* Nombre del curso */
.tarjetaCurso h3 {
    color: #5b1f8c;
}

/* Texto destacado dentro de la tarjeta */
.tarjetaCurso strong {
    color: #5b1f8c;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;


}


@media (max-width: 768px) {

    .encabezadoCursos {
        padding: 45px 20px;
    }

    .encabezadoCursos h1 {
        font-size: 32px;
    }

    .filaCursos {
        flex-direction: column;
    }

    .tarjetaCurso {
        width: 100%;
    }
}
